<div id="app"></div>

<script>
    var app = document.querySelector('#app');
    var categories = ['food', 'health', 'home'];

    function render(articles, category){
        app.innerHTML += '<h1> #' + category + '</h1>' + 
        articles.map(function(article){
                return '<h2>' + article.title + '</h2>' + 
                        '<article>' + article.abstract + 
                        ', <a href=' + article.short_url +'> Link</a>' +
                        '</article>';
            }).join('');
    }

    getArticlesFromCategory = function(category){
        var url = 'https://api.nytimes.com/svc/topstories/v2/' + category + '.json?api-key=udILfnurwRAZY5A83eIGfGDIEILjLqFb';
        fetch(url).then(function(response){
            if(response.ok)
                return response.json();
            else
                return Promise.reject(response);
        }).then(function(data){
            var articles = data.results.slice(0,5);
            render(articles, category);
        }).catch(function(err){
            console.warn('Fetch API went wrong.', err);
        })
    }

    categories.forEach(category => getArticlesFromCategory(category));

</script>