<div id="app"></div>

<script>
    var app = document.querySelector('#app');

fetch('https://api.nytimes.com/svc/topstories/v2/home.json?api-key=udILfnurwRAZY5A83eIGfGDIEILjLqFb').then(function(response){
        if(response.ok){
            return response.json();
        }            
        else {
            return Promise.reject(response);
        }
        }).then(function(data){

            console.log(data.results[0].title);
            app.innerHTML = '<ul>' + data.results.map(function (article){
                return '<li>' + article.title + '</li>';
            }).join('') + '</ul>';

        }).catch(function(err){
            console.warn('Fetch API went wrong.', err);
        });
</script>