<script src="https://polyfill.io/v3/polyfill.min.js?features=default%2Cfetch"></script>
<blockquote id="quote" aria-live="polite"></blockquote>

<p>
	<button id="moreBtn">More Ron</button>
</p>


<script> 

    var blockquoteArea = document.querySelector('#quote');
    var moreBtn = document.querySelector('#moreBtn');   
    var quotes = [];

    var getQuote = function(){
        
        fetch('https://ron-swanson-quotes.herokuapp.com/v2/quotes').then(function(response){
        if(response.ok){
            return response.json();
        }            
        else {
            return Promise.reject(response);
        }
        }).then(function(data){
            if(!isQuoteDuplicated(data[0])){
                quotes.push(data[0]);
                blockquoteArea.textContent = quotes[quotes.length - 1];
            }else{
                getQuote();
            }
            
            if(quotes.length > 50){
                quotes = [];
            }

        }).catch(function(err){
            console.warn('Fetch API went wrong.', err);
            quote.textContent = '[Something went wrong, sorry!] I have a joke for you... The government in this town is excellent, and uses your tax dollars efficiently.';
        });
    }

    getQuote();
    moreBtn.addEventListener('click', getQuote, false);

    var isQuoteDuplicated = function(quote){
       return quotes.indexOf(quote) > -1;
    }

</script>