<script src="https://polyfill.io/v3/polyfill.min.js?features=default%2Cfetch"></script>
<blockquote id="quote" aria-live="polite"></blockquote>

<p>
	<button id="moreBtn">More Ron</button>
</p>


<script> 

    var blockquoteArea = document.querySelector('#quote');
    var moreBtn = document.querySelector('#moreBtn');   

    var getQuote = function(){
        
        fetch('https://ron-swanson-quotes.herokuapp.com/v2/quotes').then(function(response){
        if(response.ok){
            return response.json();
        }            
        else {
            return Promise.reject(response);
        }
        }).then(function(data){
            blockquoteArea.textContent = data[0];
        }).catch(function(err){
            console.warn('Fetch API went wrong.', err);
        });
    }

    getQuote();
    moreBtn.addEventListener('click', getQuote, false);

</script>