<!DOCTYPE html>
<html>
<head>
	<title>Weather App - Plugin</title>

	<style type="text/css">
		body {
			margin: 1em auto;
			max-width: 30em;
			text-align: center;
			width: 88%;
		}

		p {
			font-size: 2em;
			margin: 0 0 0.5em;
			padding: 0;
		}
	</style>
</head>
<body>

	<h1>Weather App - Plugin</h1>

	<div id="app">Checking the weather near you...</div>

	<script>
		   
	var getTheWeather = function(options){
		//
		// Settings
		//
		var defaults = {
				apiKey: null,
                selector: '#app',
                tempUnit: 'C',
                message: 'It is currently {{temperature}} and {{conditions}} in {{location}}',
                iconEnabled: true
            };

        // assign immutable copy of merged options into defaults into settings
		var settings = Object.assign(defaults, options);

		//
		// Variables
		//
		var app = document.querySelector(settings.selector);

		//
		// Methods
		//

		/**
		 * Sanitize and encode all HTML in a user-submitted string
		 * @param  {String} str  The user-submitted string
		 * @return {String} str  The sanitized string
		 */
		var sanitizeHTML = function (str) {
			var temp = document.createElement('div');
			temp.textContent = str;
			return temp.innerHTML;
		};

		/**
		 * Convert fahrenheit to celcius
		 * @param  {String} temp The temperature in celcius
		 * @return {Number}      The temperature in fahrenheit
		 */
		var fToC = function (temp) {
			return (parseFloat(temp) * 9/5) + 32;
		};
		

		/**
		 * Get icon for current weather conditions
		 * @param {Object} weather The weather object
		 * @return {String} markup string for the icon 
		 */	
		var getIcon = function (weather){
			return settings.iconEnabled ? 
                '<p>' +
					'<img src="https://www.weatherbit.io/static/img/icons/' + weather.weather.icon + '.png">' +
                '</p>' : 
                '';
		}

		/**
		* Get the description for the current weather conditions
		* @param  {Object} weather The weather object
		* @return {String}         A markup string for the weather description
		*/
		var getDescription = function (weather) {
			return settings.message
					.replace('{{temp}}', fToC(sanitizeHTML(weather.temp)))
					.replace('{{conditions}}', sanitizeHTML(weather.weather.description).toLowerCase())
					.replace('{{city}}', sanitizeHTML(weather.city_name))
					.replace('{{state}}', sanitizeHTML(weather.state_code));
			};


		/**
		 * Render the weather data into the DOM
		 * @param  {Object} weather The weather data object
		 */
		var renderWeather = function (weather) {
            
            var tempInfo = settings.tempUnit == 'C' ?  weather.temp : fToC(sanitizeHTML(weather.temp));    
            
            app.innerHTML =
                    getIcon(weather) +
				'<p>It is currently ' + tempInfo + ' degrees and ' + sanitizeHTML(weather.weather.description).toLowerCase() + ' in ' + sanitizeHTML(weather.city_name) + ', ' + sanitizeHTML(weather.state_code) + '.</p>';
		};

		/**
		 * Display a message when no weather data can be found
		 */
		var renderNoWeather = function () {
			app.innerHTML = 'Unable to get weather data at this time. Sorry!';
		};


		//
		// Inits
		//

		if(!settings.apiKey){
				console.warn('Please provide an API key');
				return;
		}

		// Get the user's location by IP address
		// Then, pass that into the weather API and get the current weather
		fetch('https://ipapi.co/json').then(function (response) {
			if (response.ok) {
				return response.json();
			} else {
				return Promise.reject(response);
			}
		}).then(function (data) {
			// Pass data into another API request
			// Then, return the new Promise into the stream
			return fetch('https://api.weatherbit.io/v2.0/current?key=' + settings.apiKey + '&lat=' + data.latitude + '&lon=' + data.longitude);
		}).then(function (response) {
			if (response.ok) {
				return response.json();
			} else {
				return Promise.reject(response);
			}
		}).then(function (data) {
			// Pass the first weather item into a helper function to render the UI
			renderWeather(data.data[0]);
		}).catch(function () {
			renderNoWeather();
        });
        
		
	};
	// Initialize the plugin
	getTheWeather({
			apiKey: 'b690522d6ea54fc08a6f606d752be2f3', // Replace this with your API key
			iconEnabled: true,
			convertTemp: false,
			description: '{{conditions}}, {{temp}} degrees. Ick.'
		});
	// Store the weather API key to a variable for easier configuration
	var apiKey = 'b690522d6ea54fc08a6f606d752be2f3';

	</script>
</body>
</html>
