<form>
    <div>
        <label for="current-password">Current Password</label>
        <input type="password" name="current-password" id="current-password">
    </div>

    <div>
        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password">
    </div>

    <div>
        <label for="show-passwords">
            <input type="checkbox" name="show-passwords" id="show-passwords">
            Show passwords
        </label>
    </div>

    <p>
        <button type="submit">Change Passwords</button>
    </p>

</form>
<script src="https://polyfill.io/v3/polyfill.min.js"></script>

<script>
    var showPassBtn = document.querySelector('#show-passwords');
    var passwords = Array.prototype.slice.call(document.querySelectorAll(
        '[type="password"]'));

    showPassBtn.addEventListener('click', function (event) {
        passwords.forEach(function (element, index) {
            if (showPassBtn.checked)
                element.type = 'text';
            else
                element.type = 'password';
        });
    });
</script>