<h2>Change Username</h2>

<p>Enter your username and password to change your username.</p>

<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <div>
        <label for="show-password">
            <input type="checkbox" name="show-passwords" id="show-password"
                toggle-pw="#password">
            Show password
        </label>
    </div>

    <p>
        <button type="submit">Change Username</button>
    </p>
</form>

<h2>Change Password</h2>

<p>Enter your current password and new password below.</p>

<form>
    <div>
        <label for="current-password">Current Password</label>
        <input type="password" name="current-password" id="current-password">
    </div>

    <div>
        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password">
    </div>

    <div>
        <label for="show-passwords">
            <input type="checkbox" name="show-passwords" id="show-passwords"
                toggle-pw="#current-password, #new-password">
            Show passwords
        </label>
    </div>

    <p>
        <button type="submit">Change Passwords</button>
    </p>
</form>

<script>
    // Listen for clicks on the entire window
    document.addEventListener('click', function (event) {

        if (!event.target.matches(['[toggle-pw]']))
            return;

        var passwords = Array.prototype.slice.call(document.querySelectorAll(
            event.target.getAttribute('toggle-pw')));

        passwords.forEach(function (element) {
            if (event.target.checked)
                element.type = 'text';
            else
                element.type = 'password';
        });

    }, false);
</script>