<label for="text">Enter your text below.</label>
<textarea id="text"></textarea>

<p>You've written <strong><span id="character-count">0</span> characters</strong>.</p>

<script>
    var textArea = document.querySelector('#text');
    var answP = document.querySelector('#character-count');

    // keyup does not work when you are using copy paste by mouse, only input is handling all cases
    // textArea.addEventListener('keyup', function(){
    //     answP.textContent = textArea.textLength;
    // });

    textArea.addEventListener('input', function () {
        answP.textContent = textArea.textLength;
    });
</script>