<label for="text">Enter your text below.</label>
<textarea id="text"></textarea>

<p>You've written <strong>
        <span id="word-count">0</span> words</strong> and <strong>
        <span id="character-count">0</span> characters</strong>.
</p>

<script>
    var textArea = document.querySelector('#text');
    var charCount = document.querySelector('#character-count');
    var wordCount = document.querySelector('#word-count');

    textArea.addEventListener('input', function () {
        charCount.textContent = textArea.textLength;
        wordCount.textContent = textArea.value.split(' ').length;
    });
</script>